<div class="container mx-auto">
  <h1 class="text-3xl font-bold underline m-6 animate ping">{{ title }}</h1>

  <div class="text-center">
    <table>
      <thead>
        <tr class="underline text-xl">
          <th>Number</th>
          <th></th>
          <th>Name</th>
          <th>Type</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of menuItems; index as i" class="hover:bg-sky-100">
          <td>
            <span class="m-4">{{ i }}</span>
          </td>
          <td>
            <fa-icon class="text-2xl m-6" [icon]="item.icon"></fa-icon>
          </td>
          <td>
            <span class="m-4">{{ item.name }}</span>
          </td>
          <td>
            <span class="m-4">{{ categories[item.category] }}</span>
          </td>
          <td>
            <span class="m-4">{{ item.price | currency }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
