<div class="container mx-auto">
  <h1 class="text-3xl font-bold underline m-6">{{ title }}</h1>

  <div class="text-center">
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th></th>
          <th>Name</th>
          <th>Type</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of menuItems; index as i" class="hover:bg-sky-100">
          <td class="m-6">{{ i }}</td>
          <td class="m-6">
            <fa-icon class="text-2xl m-6" [icon]="item.icon"></fa-icon>
          </td>
          <td class="m-6">{{ item.name }}</td>
          <td class="m-6">{{ categories[item.category] }}</td>
          <td class="m-6">{{ item.price | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
